# In order to cache Prisma correctly
public-hoist-pattern[]=*prisma*

# FIXME: @prisma/client is required by the @pixeleye/auth,
# but we don't want it installed there since it's already
# installed in the @pixeleye/db package
strict-peer-dependencies=false
