---
import RootLayout from "../layouts/Root.astro";
import Hero from "../components/sections/home/hero.astro";
---

<RootLayout title="Welcome to Astro.">
  <header></header>
  <main>
    <Hero />
  </main>
  <footer></footer>
</RootLayout>
